<div class="container-profile">
  <header>
    <div class="header">
      <p>
        <a [routerLink]="['/home']">Voltar</a>
      </p>
      <h1>{{pokemonData.name}}</h1>
      <h1># {{pokemonData.order}}</h1>
    </div>
  </header>
  <main class="content">
    <div class="types">
      <ul>
        <li *ngFor="let type of pokemonData.types" >
          {{ type.type.name }}
        </li>
      </ul>
    </div>

    <section>
      <div class="fotos">
        <img src={{pokemonData?.sprites.front_default}} alt={{pokemonData.name}}>
      </div>

      <div class="starts">
        <ul>
          <li *ngFor="let stat of pokemonData.stats" >
            <div class="stat">{{stat.stat.name}}</div>
            <div class="value">{{stat.base_stat}}</div>
          </li>
        </ul>
      </div>
    </section>
  </main>
</div>
